@model Walks.UI.Models.DTO.RegionDTO
@{
}
<h1>
    Edit Region
</h1>
@if (Model is not null)
{
    <form method="post">

        <div>
            <label asp-for="Id" class="form-label"></label>
            <input asp-for="Id" class="form-control"  readonly/>
        </div>
        <div class="mb-3">
            <label asp-for="Code" class="form-label"></label>
            <input asp-for="Code" class="form-control" />
         
        </div>
        <div>
            <label asp-for="Name" class="form-label"></label>
            <input asp-for="Name" class="form-control" />
       
        </div>
         <div>
           <label asp-for="RegionImageUrl" class="form-label"></label>
           <input asp-for="RegionImageUrl" class="form-control" />
          
        </div> 
        <div class="mt-3">
            <button type="submit" class="btn btn-primary">Edit Button</button>

            <button type="submit" asp-controller="Region" asp-action="Delete"  class="btn btn-danger">Delete Region</button>
        </div>
    </form>
}